---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: rd-tcp
spec:
  parentRefs:
    - name: internal
      sectionName: rd-tcp
  rules:
    - backendRefs:
        - name: rd-hole
          port: 21116
