---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: rd-tcp
spec:
  parentRefs:
    - name: internal
      namespace: network
      sectionName: rd-tcp
  rules:
    - backendRefs:
        - name: rd-server
          namespace: kube-apps
          port: 21116
        - name: rd-relay
          namespace: kube-apps
          port: 21117
