---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: rd-nat
spec:
  parentRefs:
    - name: internal
      namespace: network
      sectionName: rd-nat
  rules:
    - backendRefs:
        - name: rustdesk-rd-server
          namespace: kube-apps
          port: 21115

---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: rd-tcp
spec:
  parentRefs:
    - name: internal
      namespace: network
      sectionName: rd-tcp
  rules:
    - backendRefs:
        - name: rustdesk-rd-server
          namespace: kube-apps
          port: 21116

---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: rd-tcp-relay
spec:
  parentRefs:
    - name: internal
      namespace: network
      sectionName: rd-tcp-relay
  rules:
    - backendRefs:
        - name: rustdesk-rd-relay
          namespace: kube-apps
          port: 21117

---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: rd-ws
spec:
  parentRefs:
    - name: internal
      namespace: network
      sectionName: rd-tcp-relay
  rules:
    - backendRefs:
        - name: rustdesk-rd-relay
          namespace: kube-apps
          port: 21118
