---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: UDPRoute
metadata:
  name: rd-udp
spec:
  parentRefs:
    - name: internal
      namespace: network
      sectionName: rd-udp
  rules:
    - backendRefs:
        - name: rustdesk
          namespace: kube-apps
          port: 21116
