---
# yaml-language-server: $schema=https://raw.githubusercontent.com/cloudnative-pg/charts/refs/heads/main/charts/cluster/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cluster17
  namespace: db
spec:
  releaseName: cluster17
  chartRef:
    kind: OCIRepository
    name: cluster
  interval: 30m
  values:
    type: postgresql
    version:
      postgresql: "18"
    mode: standalone
    cluster:
      instances: 2
      initdb:
        dataChecksums: true
      imageName: ghcr.io/cloudnative-pg/postgresql:18.1-system-trixie@sha256:5c4bcb16240bdfdc3455ef7e655da4ae78518899426b83f22e2731820f518785
      logLevel: warning
      resources:
        requests:
          cpu: 150m
          memory: 512Mi
        limits:
          memory: 1Gi
      storage:
        size: 10Gi
        storageClass: localpv
      walStorage:
        enabled: true
        size: 2Gi
        storageClass: localpv
      superuserSecret: cloudnative-pg-secret
      monitoring:
        enabled: true
      postgresql:
        parameters:
          max_connections: "100"
          shared_buffers: 256MB
    backups:
      enabled: true
      retentionPolicy: 7d
      provider: s3
      endpointURL: http://minio.storage-system.svc.cluster.local:9000
      secret:
        create: false
        name: s3-secret
      data:
        compression: bzip2
        encryption: ''
      wal:
        compression: bzip2
        maxParallel: 8
        encryption: ''
      s3:
        region: "eu-east"
        bucket: "cnpg"
        path: "/v4"
        accessKey: aws-access-key-id
        secretKey: aws-secret-access-key
      scheduledBackups:
        - name: cnpg-backup
          schedule: "0 0 */6 * * *"
          backupOwnerReference: self
    recovery:
      clusterName: cluster17
      endpointURL: http://minio.storage-system.svc.cluster.local:9000
      method: object_store
      provider: s3
      s3:
        region: "eu-east"
        bucket: "cnpg"
        path: "/v2"
        accessKey: aws-access-key-id
        secretKey: aws-secret-access-key
      secret:
        create: false
        name: s3-secret
