---
apiVersion: v1
kind: Service
metadata:
  name: cluster17-db-lb
  annotations:
    external-dns.alpha.kubernetes.io/hostname: pg-cluster17.${SECRET_DOMAIN}
    lbipam.cilium.io/ips: 192.168.1.130
spec:
  type: LoadBalancer
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: cluster17
    cnpg.io/instanceRole: primary
