---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bernd-schorgers/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lldap
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: lldap
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      main:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2.0@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
            envFrom: &envFrom
              - secretRef:
                  name: lldap-secrets
        containers:
          app:
              image:
                repository: ghcr.io/lldap/lldap
                tag: v0.6.2
              env:
                TZ: ${TIMEZONE}
                LLDAP_HTTP_PORT: &port 80
                LLDAP_HTTP_URL: https://ldap.${CLUSTER_DOMAIN}
                LLDAP_LDAP_PORT: &ldapPort 389
                LLDAP_LDAP_BASE_DN: dc=seganet,dc=org
                LLDAP_KEY_FILE: ''
              envFrom: *envFrom
              probes:
                liveness:
                  enabled: true
                readiness:
                  enabled: true
              resources:
                requests:
                  cpu: 5m
                  memory: 36M
                limits:
                  memory: 128M
    service:
      main:
        controller: main
        ports:
          http:
            port: *port
            primary: true
          ldap:
            port: *ldapPort

    route:
      app:
        hostnames:
          - "ldap.${SECRET_DOMAIN}"
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https

    persistence:
      data:
        type: emptyDir
