---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bernd-schorgers/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: plex
  values:
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      main:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.43.0.10492@sha256:8cb062f2b0660bd7811387e6c799da0ce5f18112078fe21485c11adcc83a9c1c
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 1
                memory: 1Gi
              limits:
                memory: 4Gi
            env:
              - name: TZ
                value: ${TIMEZONE}
              - name: PLEX_NO_AUTH_NETWORKS
                value: 192.168.1.0/24,10.0.10.0/24
              - name: ADVERTISE_IP
                value: http://192.168.1.125:32400
              - name: PLEX_CLAIM
                secretKeyRef:
                  name: plexconfig
                  key: claim

    service:
      main:
        controller: main
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.1.125
        ports:
          http:
            port: 32400
        # externalTrafficPolicy: Local
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: plex-config
      # Separate PVC for cache to avoid backing up cache files
      cache:
        type: persistentVolumeClaim
        accessMode: ReadWriteOnce
        suffix: cache
        size: 10Gi
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs
      tmp:
        type: emptyDir
      transcode:
        type: emptyDir
      data:
        type: persistentVolumeClaim
        existingClaim: plex-data
