---
# yaml-language-server: $schema=https://github.com/fluxcd-community/flux2-schemas/raw/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
spec:
  timeout: 5m
  interval: 10m
  chartRef:
    kind: OCIRepository
    name: nextcloud
  values:
    image:
      tag: 31.0.4-fpm-alpine@sha256:a111d5b748a259936b075575879c621dd387b18fb8a864a2ed8f3f4f9c288f3f
      flavor: fpm-alpine
    deploymentAnnotations:
      secret.reloader.stakater.com/reload: auto
    nginx:
      enabled: true
      image:
        repository: nginxinc/nginx-unprivileged
        tag: 1.29.2-alpine@sha256:2af55ce6348ca31e01f37f74cfb59617209b6c685a67b25e235bf45d86164d40
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        readOnlyRootFilesystem: false
    nextcloud:
      host: &host "cloud.${SECRET_DOMAIN}"
      trustedDomains:
        - *host
      extraInitContainers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
          envFrom:
            - secretRef:
                name: nextcloud-db
      existingSecret:
        enabled: true
        secretName: nextcloud-secret
        usernameKey: user
        passwordKey: pass
      objectStore:
        s3:
          enabled: true
          ssl: false
          port: "9000"
          region: "eu-east"
          existingSecret: "nextcloud-secret"
          usePathStyle: true
          secretKeys:
            # key in nextcloud.objectStore.s3.existingSecret to use for s3 endpoint
            host: "host"
            # key in nextcloud.objectStore.s3.existingSecret to use for s3 accessKeyID
            accessKey: "accessKey"
            # key in nextcloud.objectStore.s3.existingSecret to use for s3 secretAccessKey
            secretKey: "secretKey"
            # key in nextcloud.objectStore.s3.existingSecret to use for the s3 bucket
            bucket: "bucket"
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        readOnlyRootFilesystem: false
      podSecurityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        readOnlyRootFilesystem: false
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
      configs:
        logging.config.php: |-
          <?php
          $CONFIG = array (
            'log_type' => 'file',
            'logfile' => 'nextcloud.log',
            'loglevel' => 0,
            'logdateformat' => 'F d, Y H:i:s'
            );
        proxy.config.php: |-
          <?php
          $CONFIG = array (
            'trusted_proxies' => array(
              0 => '127.0.0.1',
              1 => '172.16.0.0/16',
            ),
            'overwrite.cli.url' => 'https://nextcloud.${SECRET_DOMAIN}',
            'overwriteprotocol' => 'https',
            'allow_local_remote_servers' => true
          ); ?>
        misc.config.php: |-
          <?php
          $CONFIG = array (
            'default_phone_region' => 'RO',
            'maintenance_window_start' => 2,
          ); ?>
    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: postgresql
      host: cluster17-rw.db.svc.cluster.local:5432
      database: nextcloud
      existingSecret:
        enabled: true
        secretName: nextcloud-db
        usernameKey: INIT_POSTGRES_USER
        passwordKey: INIT_POSTGRES_PASS
    externalRedis:
      enabled: true
      host: "dragonfly-operator.db.svc.cluster.local"
      port: "6379"
      existingSecret:
        enabled: true
        secretName: nextcloud-secret
        passwordKey: redis
    persistence:
      enabled: true
      existingClaim: nextcloud-config
    metrics:
      enabled: false
      image:
        tag: 0.8.0@sha256:a4163ed0041217dde749d398b98a8ec9961b493714f6042e03223dca1bdb68af
      serviceMonitor:
        enabled: false
    cronjob:
      enabled: true
      sidecar:
        securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        readOnlyRootFilesystem: false
    resources:
      requests:
        cpu: 500m
        memory: 256Mi
      limits:
        memory: 512Mi
      type: ClusterIP
      port: 8080
    livenessProbe:
      enabled: false
    readinessProbe:
      enabled: false
    startupProbe:
      enabled: false
