---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: win10iso
  namespace: virt
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: cdi
      interval: 30m
  dependsOn:
    - name: cdi
      namespace: virt
  values:
    resources:
      - apiVersion: cdi.kubevirt.io/v1beta1
        kind: DataVolume
        metadata:
          name: "win10iso"
        spec:
          storage:
            accessModes:
              - ReadWriteOnce
            volumeMode: Block
            resources:
              requests:
                storage: 10Gi
          source:
            http:
              url: "https://software.download.prss.microsoft.com/dbazure/Win10_22H2_EnglishInternational_x64v1.iso?t=dd4c6c00-72c9-40d1-8ea0-4448430dcb93&P1=1767538134&P2=601&P3=2&P4=VJX74ijxRms6QLyJsCUs%2bxW8e6hhLTA6GxKo%2bFw2IzvGxwt0LD1IgDkD16MeBpxDCtOJu4W602gH6VZNNCz%2blXwptbM10NLg1OjfyPxYsPNIS68q7msbgGE9raFbhFKzz%2bMEat4ILppImz6qNyKthbWOI7%2fpfBisnZe6uzBO9AyjSRav8%2f25dWHDpEUfaaZ%2fw38vLj%2b6%2fkwPc1M5EmWTlRySwkXIzvpUxYd3ChjDOULzKwOyS39t1Yg6P9LpBZ6b5Pu%2bp0roEHc9D8Z1L4a4CdFOYbhy0KKvjsIO8kxaKhFwjD9TXmQVzYyefGEuPiCTnaHRVTK91OXbuGrZmP9L%2bA%3d%3d"
