---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: win10iso
  namespace: virt
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: cdi
      interval: 30m
  dependsOn:
    - name: cdi
      namespace: virt
  values:
    resources:
      - apiVersion: cdi.kubevirt.io/v1beta1
        kind: DataVolume
        metadata:
          name: "win10iso"
        spec:
          storage:
            accessModes:
              - ReadWriteOnce
            volumeMode: Block
            resources:
              requests:
                storage: 10Gi
          source:
            http:
              url: "https://software.download.prss.microsoft.com/dbazure/Win10_22H2_English_x64v1.iso?t=7b99b0df-04a5-4e13-b94b-0f27cee5b764&P1=1767485218&P2=601&P3=2&P4=uozyNYiiG9tsCGMPFKn4QpC%2b%2bjwVJAozc6EiGi9vDZRTHu78Q0CpEm4%2bHURgxT87EDzO0oTfWetfkLhr6TflzXW6rfRqkq5C3jjs016Cgq%2b3xkWD2AsPauM0X9GWp3XyYbY%2fTepjWS4%2f2sHh6iNIQ%2bXV0dk6eQZixRvmzh1MyRh0reB8maZUNbIjVPX78uCdaY8COL%2fNdHU%2fwCQ%2buAqj1kAk6nRc5B5oZDveukdanp%2b7%2b4ryJOl3w6GkqhTSDMCuID17bDjDEqB4QiSpl6dWROlM%2bF4g%2ftIw34kSGWWeuzTstO1PT%2fWwQjseAnKEx5t1PfTa6HmKLwUhuwpyClppjA%3d%3d"
