---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bernd-schorgers/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ctcadmin
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: ctcadmin
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      main:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2.0@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
            envFrom:
              - secretRef:
                  name: ctcadmin-db
        containers:
          main:
            image:
              repository: ghcr.io/ctcadmin2/remixctc
              tag: 0.9.20@sha256:ddd5058fedc2e88c79352600d41399ba7c86f850880fa3fee175600284c688ff
            securityContext:
              runAsNonRoot: true
              runAsUser: 568
              runAsGroup: 568
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 150m
                memory: 256Mi
              limits:
                memory: 512Mi
            env:
              - name: ITEMS_PER_PAGE
                value: 7
              - name: DATABASE_URL
                secretKeyRef:
                  name: ctcsecrets
                  key: db
              - name: SESSION_SECRET
                secretKeyRef:
                  name: ctcsecrets
                  key: session
              - name: OPENAPI_KEY
                secretKeyRef:
                  name: ctcsecrets
                  key: openapi
              - name: ANAF_OAUTH
                secretKeyRef:
                  name: ctcsecrets
                  key: anaf
              - name: CSRF_SECRET
                secretKeyRef:
                  name: ctcsecrets
                  key: csrf
              - name: COOKIE_SECRETS
                secretKeyRef:
                  name: ctcsecrets
                  key: cookie
              - name: TZ
                value: ${TIMEZONE}
              - name: PORT
                value: &port 80
    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: *port
        # externalTrafficPolicy: Local
    route:
      app:
        hostnames: ["admin.cozmatransport.eu"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: ctc
        rules:
          - backendRefs:
              - identifier: main
                port: *port
    persistence:
      storage:
        type: persistentVolumeClaim
        existingClaim: ctcadmin-data
