---
# yaml-language-server: $schema=https://raw.githubusercontent.com/cloudnative-pg/charts/refs/heads/main/charts/cluster/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich-db
  namespace: db
spec:
  releaseName: immich-db
  chartRef:
    kind: OCIRepository
    name: cluster
  interval: 30m
  values:
    type: postgresql
    version: "17"
    mode: standalone
    cluster:
      instances: 2
      initdb:
        dataChecksums: true
      imageName: ghcr.io/tensorchord/cloudnative-vectorchord:17.6-0.5.3@sha256:ef3bf2e3abe76c3939b994afbde46cb9f24d2fbdf7ff2026a03aefa84d9a2a23
      logLevel: warning
      resources:
        requests:
          cpu: 150m
          memory: 512Mi
        limits:
          memory: 1Gi
      storage:
        size: 10Gi
        storageClass: localpv
      walStorage:
        enabled: true
        size: 2Gi
        storageClass: localpv
      superuserSecret: cloudnative-pg-secret
      monitoring:
        enabled: true
      postgresql:
        shared_preload_libraries: ["vchord.so"]
        parameters:
          pg_stat_statements.max: "10000"
          pg_stat_statements.track: all
          max_connections: "100"
          shared_buffers: 256MB
    databases:
      - name: immich
        owner: sega
        extensions:
          - name: vchord
          - name: earthdistance
    backups:
      enabled: true
      retentionPolicy: 7d
      provider: s3
      endpointURL: http://minio.storage-system.svc.cluster.local:9000
      secret:
        create: false
        name: s3-secret
      data:
        compression: bzip2
        encryption: ''
      wal:
        compression: bzip2
        maxParallel: 8
        encryption: ''
      s3:
        region: "eu-east"
        bucket: "cnpg"
        path: "/v1"
        accessKey: aws-access-key-id
        secretKey: aws-secret-access-key
      scheduledBackups:
        - name: immich-db-backup
          schedule: "0 0 */6 * * *"
          backupOwnerReference: self
    recovery:
      clusterName: immich-db
      endpointURL: http://minio.storage-system.svc.cluster.local:9000
      method: object_store
      provider: s3
      s3:
        region: "eu-east"
        bucket: "cnpg"
        path: "/v1"
        accessKey: aws-access-key-id
        secretKey: aws-secret-access-key
      secret:
        create: false
        name: s3-secret
