---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bernd-schorgers/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: vaultwarden
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      main:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2.0@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
            envFrom:
              - secretRef:
                  name: vault-db
        containers:
          main:
            image:
              repository: vaultwarden/server
              tag: 1.35.2@sha256:d89a6d21e361254670c24a4272b4b5f245e402c284f2f55de2c379fdbcfa1fa5
            securityContext:
              runAsNonRoot: true
              runAsUser: 568
              runAsGroup: 568
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /alive
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            env:
              - name: DATABASE_URL
                secretKeyRef:
                  name: vault-secrets
                  key: db
              - name: DATA_FOLDER
                value: data
              - name: ICON_CACHE_FOLDER
                value: data/icon_cache
              - name: ATTACHMENTS_FOLDER
                value: data/attachments
              - name: DOMAIN
                value: "https://vaultwarden.${SECRET_EXTERNAL_DOMAIN}"
              - name: TZ
                value:  "${TIMEZONE}"
              - name: SIGNUPS_ALLOWED
                value: 'false'
              - name: PUSH_ENABLED
                value: "true"
              - name: PUSH_INSTALLATION_ID
                secretKeyRef:
                  name: vault-secrets
                  key: push-id
              - name: PUSH_INSTALLATION_KEY
                secretKeyRef:
                  name: vault-secrets
                  key: push-key
              - name: PUSH_RELAY_URI
                value: https://api.bitwarden.eu
              - name: PUSH_IDENTITY_URI
                value: https://identity.bitwarden.eu
              - name: INVITATION_ORG_NAME
                value: 'seganet'
              - name: LOG_LEVEL
                value: 'warn'
              - name: EXPERIMENTAL_CLIENT_FEATURE_FLAGS
                value: 'autofill-v2,ssh-key-vault-item,ssh-agent'
              # - name: ADMIN_TOKEN
              #   value: 'sega'
              # TODO: configure smtp
              # - name: SMTP_HOST
              #   value: smtp-relay.default.svc.cluster.local.
              # - name: SMTP_FROM
              #   value: vaultwarden@${SECRET_DOMAIN}
              # - name: SMTP_FROM_NAME
              #   value: vaultwarden
              # - name: SMTP_PORT
              #   value: 2525
              # - name: SMTP_SECURITY
              #   value: "off"
    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: *port
        # externalTrafficPolicy: Local

    route:
      app:
        hostnames: ["vault.${SECRET_DOMAIN}"]
        parentRefs:
          - name: external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *port
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: vaultwarden-config
        globalMounts:
          - path: /data
