---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bernd-schorgers/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: huntarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: huntarr
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      main:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.2.0@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
            envFrom:
              - secretRef:
                  name: huntarr-secrets
        containers:
          main:
            image:
              repository: ghcr.io/elfhosted/huntarr-dev
              tag: 8.2.25@sha256:8ed4622de54ef54cf30ab820c977e72a8e262b678fe4b1a2d2937388b650d6d3
            securityContext:
              runAsNonRoot: true
              runAsUser: 568
              runAsGroup: 568
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 512Mi
            env:
              TZ: ${TIMEZONE}
    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: &port 80
            targetPort: 9705
        # externalTrafficPolicy: Local

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *port

    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: huntarr-config
