---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plugin-barman-cloud
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: plugin-barman-cloud
  values:
    replicas: 1
    image:
      registry: ghcr.io
      repository: cloudnative-pg/plugin-barman-cloud
      tag: v0.10.0@sha256:79103130df436ff08bc10a1d1117bed3acf3d3e4d8a15ca322d7079e71ac4412
    sidecarImage:
      registry: ghcr.io
      repository: cloudnative-pg/plugin-barman-cloud-sidecar
      tag: v0.10.0@sha256:12b211f40b702a39b18859b0b96aa896e068135984f40c8b3e44e8b5d1610c7f
    containerSecurityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      runAsUser: 26
      runAsGroup: 26
      capabilities:
        drop:
          - "ALL"
    podSecurityContext:
      runAsNonRoot: true
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
    certificate:
      issuerName: letsencrypt-production
      # -- The duration of the certificates.
      duration: 2160h
      # -- The renew before time for the certificates.
      renewBefore: 360h
