---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plugin-barman-cloud
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: plugin-barman-cloud
  values:
    replicas: 1
    image:
      registry: ghcr.io
      repository: cloudnative-pg/plugin-barman-cloud
      tag: v0.8.0@sha256:c3e423094c70c333a41a38dd781f0d9a9e539a2b9a2e4fe9e49224f65b4c84d6
    sidecarImage:
      registry: ghcr.io
      repository: cloudnative-pg/plugin-barman-cloud-sidecar
      tag: v0.9.0@sha256:f6aa40ed2ac56163f40176e2829ca09beebc1fccd7858399608f5fd1ef663311
    containerSecurityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      runAsUser: 26
      runAsGroup: 26
      capabilities:
        drop:
          - "ALL"
    podSecurityContext:
      runAsNonRoot: true
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
    certificate:
      issuerName: letsencrypt-production
      # -- The duration of the certificates.
      duration: 2160h
      # -- The renew before time for the certificates.
      renewBefore: 360h
