---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json

apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authelia
spec:
  chartRef:
    kind: OCIRepository
    name: authelia
  interval: 1h
  values:
    configMap:
      theme: auto
      log:
        level: info
      totp:
        disable: false
      webauthn:
        disable: true
      authentication_backend:
        refresh_interval: 1m
        ldap:
          address: 'ldap://lldap.kube-system.svc.cluster.local'
          implementation: 'custom'
          timeout: '5s'
          start_tls: false
          tls:
            server_name: 'ldap.seganet.org'
            skip_verify: false
            minimum_version: 'TLS1.2'
            maximum_version: 'TLS1.3'
      password_policy:
        standard:
          enabled: false
          min_length: 8
          max_length: 0
          require_uppercase: true
          require_lowercase: true
          require_number: true
          require_special: false
      access_control:
        default_policy: one_factor
        rules:
          - domain: "*.${SECRET_DOMAIN}"
            policy: bypass
            networks:
              - 192.168.1.0/24
              - 172.16.0.0/16
              - 172.17.0.0/16
          - domain: "*.${SECRET_DOMAIN}"
            policy: two_factor
      session:
        name: authelia_session
        expiration: 1h
        inactivity: 15m
        remember_me: 1M
        cookies:
          - domain: ${SECRET_DOMAIN}
            authelia_url: https://auth.${SECRET_DOMAIN}
            # default_redirection_url: https://${SECRET_DOMAIN}
        redis:
          host: dragonfly-operator.db.svc.cluster.local
          port: 6379
      regulation:
        max_retries: 3
        find_time: 2m
        ban_time: 5m
      storage:
        encryption_key:
          secret_name: authelia
        postgres:
          enabled: true
          address: tcp://cluster17-rw.db.svc.cluster.local:5432
          database: authelia
          username: sega
          password:
            secret_name: authelia
      notifier:
        disable_startup_check: true
        filesystem:
          enabled: true
        # smtp:
        #   address: submission://smtp.gmail.com:587
        #   username: budimanjojo@gmail.com
        #   sender: Authelia Admin <admin@budimanjojo.com>
      definitions:
        user_attributes:
          is_nextcloud_admin:
            expression: '"nextcloud-admins" in groups'
      identity_providers:
        oidc:
          enabled: true
          hmac_secret:
            secret_name: authelia
            path: identity_providers.oidc.hmac.key
          enable_client_debug_messages: false
          jwks:
            - key:
                path: '/secrets/authelia/oidc.jwk.RS256.pem'
          cors:
            endpoints:
              - authorization
              - token
              - revocation
              - introspection
            allowed_origins_from_client_redirect_uris: true
          clients:
            - client_name: 'Immich'
              # docker run authelia/authelia:latest authelia crypto rand --length 72 --charset rfc3986
              client_id: 'BDP8p_LA.rou-Wkl_BcZr1eB1NO0INtFfsPrFMm~.jw0HZo-3VfoeCXo74kO1LYsy_6txYAK'
              # docker run authelia/authelia:latest authelia crypto hash generate pbkdf2 --variant sha512 --random
              client_secret:
                path: '/secrets/authelia/oidc.client.immich.value'
              authorization_policy: 'two_factor'
              consent_mode: implicit
              redirect_uris:
                - 'https://immich.${SECRET_DOMAIN}/auth/login'
                - 'https://immich.${SECRET_DOMAIN}/user-settings'
                - 'https://immich.${SECRET_DOMAIN}/api/oauth/mobile-redirect'
              scopes:
                - openid
                - profile
                - email
              token_endpoint_auth_method: 'client_secret_post'
            - client_name: 'SFTPGo'
              client_id: 'JdcVlzNIeq5wh18Jo0-SWxgSROh_eCW0wHR2tGdNqQDK0~2IVWX_hnJYG1wChxj5ETHes7tF'
              client_secret:
                path: '/secrets/authelia/oidc.client.sftpgo.value'
              authorization_policy: 'two_factor'
              consent_mode: implicit
              redirect_uris:
                - 'https://sftpgo.${SECRET_DOMAIN}/web/oidc/redirect'
              scopes:
                - openid
                - profile
                - email
            - client_name: Minio
              client_id: '3d~kj20my5Nj1lziB4MoGkVy5Tx~2h.kL0LYNaA5K0kDlLznRH-OeMGWhv2hADEK6DSsOjgQ'
              client_secret:
                path: '/secrets/authelia/oidc.client.minio.value'
              public: false
              authorization_policy: two_factor
              redirect_uris:
                - https://minio.${SECRET_DOMAIN}/oauth_callback
              scopes:
                - openid
                - profile
                - email
                - groups
              userinfo_signed_response_alg: none
            - client_name: Nextcloud
              client_id: 'dlZVU05Xm5Vz0eOANbfSkRwxYINdynJhpE8j0rcasZLLyg9bgHpJKodoCiK9oSrywq1Q1cGh'
              client_secret:
                path: '/secrets/authelia/oidc.client.nextcloud.value'
              public: false
              authorization_policy: two_factor
              require_pkce: true
              pkce_challenge_method: S256
              redirect_uris:
                - https://nextcloud.${SECRET_DOMAIN}/apps/oidc_login/oidc
              scopes:
                - openid
                - profile
                - email
                - groups
              response_types:
                - code
              grant_types:
                - authorization_code
              access_token_signed_response_alg: none
              userinfo_signed_response_alg: none
              token_endpoint_auth_method: client_secret_basic
    ingress:
      enabled: true
      gatewayAPI:
        enabled: true
        hostnamesOverride:
          - "auth.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: network
            sectionName: https
      # rulesOverride:
      #   - backendRefs:
      #     - name: authelia
      #       namespace: kube-system
      #       port: 80
    secret:
      existingSecret: authelia
      additionalSecrets:
        authelia:
          items:
            - key: 'identity_providers.oidc.hmac.key'
            - key: 'identity_validation.reset_password.jwt.hmac.key'
            - key: 'oidc.client.immich.value'
            - key: 'oidc.client.minio.value'
            - key: 'oidc.client.nextcloud.value'
            - key: 'oidc.client.sftpgo.value'
            - key: 'oidc.jwk.RS256.pem'
            - key: 'session.encryption.key'
            - key: 'session.redis.password.txt'
            - key: 'storage.encryption.key'
            - key: 'storage.postgres.password.txt'
    persistence:
      enabled: true
      existingClaim: authelia-config
