---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bernd-schorgers/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rreading-glasses
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: rreading-glasses
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      main:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
            envFrom:
              - secretRef:
                  name: rg-secrets
        containers:
          main:
            image:
              repository: blampe/rreading-glasses
              tag: hardcover@sha256:91905de54a9da6766d0c28a913b6ab4e26f0ef13e944eb5b514e17affd4732f9
            command: ["/main", "serve"]
            securityContext:
              runAsNonRoot: true
              runAsUser: 568
              runAsGroup: 568
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 512Mi
            env:
              TZ: ${TIMEZONE}
              HARDCOVER_AUTH:
                valueFrom:
                  secretKeyRef:
                    name: rg-secrets
                    key: HARDCOVER
              POSTGRES_HOST:
                valueFrom:
                  secretKeyRef:
                    name: rg-secrets
                    key: INIT_POSTGRES_HOST
              POSTGRES_DATABASE:
                valueFrom:
                  secretKeyRef:
                    name: rg-secrets
                    key: INIT_POSTGRES_DBNAME
              POSTGRES_USER:
                valueFrom:
                  secretKeyRef:
                    name: rg-secrets
                    key: INIT_POSTGRES_USER
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: rg-secrets
                    key: INIT_POSTGRES_PASS

    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: &port 80
            targetPort: 8788
        # externalTrafficPolicy: Local

    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: http
        rules:
          - backendRefs:
              - identifier: main
                port: *port

    persistence:
      data:
        type: persistentVolumeClaim
        existingClaim: rreading-glasses-config
