---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bernd-schorgers/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
spec:
  interval: 60m
  chartRef:
    kind: OCIRepository
    name: qbittorent
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      main:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          qbt:
            dependsOn: gluetun
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
            securityContext:
              runAsUser: 568
              runAsGroup: 568
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              runAsNonRoot: true
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 50m
                memory: 1Gi
              limits:
                memory: 2Gi
            env:
              TZ: ${TIMEZONE}
            args:
              - --webui-port=80
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
          gluetun:
            dependsOn: pia-wg-refresh
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
            lifecycle:
              postStart:
                exec:
                  command: ["/bin/sh", "-c", "(ip rule del table 51820; ip -6 rule del table 51820) || true"]
            env:
              #required
              - name: VPN_SERVICE_PROVIDER
                value: custom
              - name: VPN_TYPE
                value: wireguard
              # - name: WIREGUARD_ENDPOINT_IP
              #   secretKeyRef:
              #     name: vpnconfig
              #     key: endip
              # - name: WIREGUARD_ENDPOINT_PORT
              #   value: 1337
              # - name: WIREGUARD_PUBLIC_KEY
              #   secretKeyRef:
              #     name: vpnconfig
              #     key: pubkey
              # - name: WIREGUARD_PRIVATE_KEY
              #   secretKeyRef:
              #     name: vpnconfig
              #     key: privkey
              # - name: WIREGUARD_ADDRESSES
              #   secretKeyRef:
              #     name: vpnconfig
              #     key: wgaddress
              - name: WIREGUARD_MTU
                value: 1384
              - name: DNS_ADDRESS
                secretKeyRef:
                  name: vpnconfig
                  key: dns
              #optional
              - name: VPN_PORT_FORWARDING
                value: on
              - name: VPN_PORT_FORWARDING_PROVIDER
                value: private internet access
              - name: VPN_PORT_FORWARDING_USERNAME
                secretKeyRef:
                  name: vpnconfig
                  key: username
              - name: VPN_PORT_FORWARDING_PASSWORD
                secretKeyRef:
                  name: vpnconfig
                  key: password
              - name: SERVER_NAMES
                secretKeyRef:
                  name: vpnconfig
                  key: server
              - name: UPDATER_PERIOD
                value: 24h
              - name: TZ
                value: ${TIMEZONE}
              - name: VERSION_INFORMATION
                value: off
              - name: DOT
                value: off
              - name: BLOCK_MALCIOUS
                value: off
              - name: BLOCK_SURVEILLANCE
                value: off
              - name: BLOCK_ADS
                value: off
              # Allow access to k8s subnets
              - name: FIREWALL_OUTBOUND_SUBNETS
                value: "172.16.0.0/16,172.17.0.0/16,192.168.1.0/24"
              - name: FIREWALL_INPUT_PORTS
                value: 80
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
            resources:
              requests:
                cpu: 250m
                memory: 128Mi
              limits:
                memory: 256Mi
                squat.ai/tun: "1"
          port-forward:
            dependsOn: gluetun
            image:
              repository: docker.io/snoringdragon/gluetun-qbittorrent-port-manager
              tag: 1.3@sha256:679b7a92c494f93b78ad37ef24f3a261e73d0a1a52505ad4f1e39580eedfa14f
            env:
              - name: QBITTORRENT_SERVER
                value: localhost
              - name: QBITTORRENT_PORT
                value: &port 80
              - name: QBITTORRENT_USER
                secretKeyRef:
                  name: qbt-secret
                  key: username
              - name: QBITTORRENT_PASS
                secretKeyRef:
                  name: qbt-secret
                  key: password
              - name: HTTP_S
                value: http
              - name: PORT_FORWARDED
                value: "/tmp/gluetun/forwarded_port"
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 64Mi
          pia-wg-refresh:
            image:
              repository: ghcr.io/ccarpinteri/pia-wg-refresh
              tag: v0.6.2@sha256:bd997658b511677c78da41e04b4988ee0915cf72ce982034078c46b4db4d40e2
            env:
              - name: PIA_USERNAME
                secretKeyRef:
                  name: vpnconfig
                  key: username
              - name: PIA_PASSWORD
                secretKeyRef:
                  name: vpnconfig
                  key: password
              - name: PIA_REGION
                value: ro
              - name: PIA_PORT_FORWARDING
                value: true
              - name: WG_CONF_PATH
                value: '/gluetun/wireguard'
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 64Mi
    service:
      qbt:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: *port
        # externalTrafficPolicy: Local
    route:
      app:
        hostnames: ["qbt.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: qbt
                port: *port
    persistence:
      # Configure mounts for qbt
      config:
        type: persistentVolumeClaim
        existingClaim: qbittorrent-config
        advancedMounts:
          main:
            qbt:
              - path: /config
      media:
        type: persistentVolumeClaim
        existingClaim: qbittorrent-data
        advancedMounts:
          main:
            qbt:
              - path: /media
      cache:
        type: emptyDir
        advancedMounts:
          main:
            qbt:
              - path: /config/.cache

      # Configure an emptyDir to share the port-forwarding location between containers
      gluetun-data:
        type: emptyDir
        advancedMounts:
          main:
            gluetun:
              - path: /tmp/gluetun
            port-forward:
              - path: /tmp/gluetun
                readOnly: true

      # Configure an emptyDir for gluetun server list
      gluetun-list:
        type: emptyDir
        advancedMounts:
          main:
            gluetun:
              - path: /gluetun

      # Configure an emptyDir for wireguard config
      gluetun-config:
        type: emptyDir
        advancedMounts:
          main:
            gluetun:
              - path: /gluetun/wireguard
                readOnly: true
            pia-wg-refresh:
              - path: /config
