---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: testvm
  namespace: flux-system
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: kubevirt
      interval: 30m
  targetNamespace: virt
  install:
    createNamespace: true
    remediation:
      retries: 10
  upgrade:
    remediation:
      retries: 10
  dependsOn:
    - name: kubevirt
      namespace: flux-system
  values:
    resources:
      - apiVersion: kubevirt.io/v1
        kind: VirtualMachine
        metadata:
          name: testvm
          namespace: kubevirt
        spec:
          runStrategy: Halted
          template:
            metadata:
              labels:
                kubevirt.io/size: small
                kubevirt.io/domain: testvm
            spec:
              domain:
                devices:
                  disks:
                    - name: containerdisk
                      disk:
                        bus: virtio
                    - name: cloudinitdisk
                      disk:
                        bus: virtio
                  interfaces:
                  - name: default
                    masquerade: {}
                resources:
                  requests:
                    memory: 64M
              networks:
              - name: default
                pod: {}
              volumes:
                - name: containerdisk
                  containerDisk:
                    image: quay.io/kubevirt/cirros-container-disk-demo
                - name: cloudinitdisk
                  cloudInitNoCloud:
                    userDataBase64: SGkuXG4=
