---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: truenas
  namespace: virt
spec:
  interval: 30m
  chart:
    spec:
      chart: raw
      version: v0.3.2
      sourceRef:
        kind: HelmRepository
        name: kubevirt
      interval: 30m
  dependsOn:
    - name: kubevirt
      namespace: virt
  values:
    resources:
      - apiVersion: v1
        kind: PersistentVolumeClaim
        metadata:
          name: truenas-root
        spec:
          storageClassName: vm-apps
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 16Gi
      - apiVersion: kubevirt.io/v1
        kind: VirtualMachine
        metadata:
          name: truenas
          namespace: virt
        spec:
          runStrategy: Manual
          template:
            metadata:
              labels:
                kubevirt.io/os: truenas
                kubevirt.io/vm: truenas
            spec:
              domain:
                clock:
                  timezone: ${TIMEZONE}
                cpu:
                  model: host-passthrough
                  sockets: 1
                  cores: 2
                  threads: 2
                devices:
                  disks:
                    - bootOrder: 1
                      disk:
                        bus: virtio
                      name: disk-2
                      # Note: serial number is defined
                      serial: dae05b93-c3c4-4a3e-9ec0-5403f9e70494
                    - bootOrder: 2
                      disk:
                        bus: virtio
                      name: disk-1
                      serial: ec0082c0-b2ec-4104-96d9-dec3562a6d06
                    # Note: cloudinit is missing here
                  interfaces:
                    - bridge: {}
                      macAddress: f6:28:ac:32:c2:3a
                      model: virtio
                      name: br-vlan1-lan
                firmware:
                  uuid: 5d307ca9-b3ef-428c-8861-06e72d69f223
                  bootloader:
                    efi:
                      secureBoot: false
                features:
                  acpi:
                    enabled: true
                machine:
                  type: q35
                resources: {}
                memory:
                  guest: 16Gi
              volumes:
                - name: disk-2
                  persistentVolumeClaim:
                    claimName: zfs-truenas-2
                - name: disk-1
                  persistentVolumeClaim:
                    claimName: zfs-truenas-1
      - apiVersion: v1
        kind: Service
        metadata:
          annotations:
            lbipam.cilium.io/ips: 192.168.1.150
          labels:
            kubevirt.io/vm: truenas
          name: truenas
        spec:
          ports:
          - name: http
            port: 80
            protocol: TCP
            targetPort: 80
            NodePort: 80
          selector:
            vm.kubevirt.io/name: truenas
          type: LoadBalancer
