---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bernd-schorgers/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bookshelf
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: bookshelf
  values:
    defaultPodOptions:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
    controllers:
      main:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:3c54d39f19fdb82ed5b3f286450e4071133cc6025bd0e25856bc2c522f8fc030
            envFrom: &envFrom
              - secretRef:
                  name: bookshelf-secrets
        containers:
          main:
            image:
              repository: ghcr.io/pennydreadful/bookshelf
              tag: hardcover-v0.4.20.91@sha256:fd6183d0eacf1cac6ce3a0c8ff2b0d5af9ddf2101141f6c86c928a136c9b2d95
            command: ["/usr/bin/catatonit", "--", "/entrypoint.sh"]
            securityContext:
              runAsNonRoot: true
              runAsUser: 568
              runAsGroup: 568
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 512Mi
            env:
              TZ: ${TIMEZONE}
              READARR__APP__INSTANCENAME: bookshelf
              READARR__APP__THEME: auto
              READARR__LOG__DBENABLED: False
              READARR__SERVER__PORT: &port 80
              READARR__SERVER__BINDADDRESS: "*"
              READARR__UPDATE__BRANCH: develop
              READARR__UPDATE__MECHANISM: docker
              READARR__UPDATE__AUTOMATICALLY: False
            envFrom: *envFrom
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: *port
        # externalTrafficPolicy: Local
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: main
                port: *port
    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: bookshelf-config
      media:
        type: persistentVolumeClaim
        existingClaim: bookshelf-data
      entrypoint:
        type: configMap
        name: bookshelf-entrypoint
        defaultMode: 0755
        advancedMounts:
          main:
            main:
              - path: /entrypoint.sh
                subPath: entrypoint.sh
                readOnly: true
      run:
        type: emptyDir
      tmp:
        type: emptyDir
