---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: generic-device-plugin
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: generic-device-plugin
  values:
    image:
      tag: 36bfc606bba2064de6ede0ff2764cbb52edff70d@sha256:ba6f0b4cf6c858d6ad29ba4d32e4da11638abbc7d96436bf04f582a97b2b8821
      pullPolicy: IfNotPresent
    persistence:
      dev:
        hostPath: /dev
    config:
      data: |
        devices:
          - name: tun
            groups:
              - count: 10
                paths:
                  - path: /dev/net/tun
    resources:
      requests:
        cpu: 50m
        memory: 16Mi
      limits:
        memory: 32Mi
    service:
      main:
        ports:
          http:
            port: 80
        # externalTrafficPolicy: Local
    serviceMonitor:
      main:
        enabled: true
